<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script th:src="@{/js/main.js}" defer></script>
</head>
<body>
<div class="container mt-5">
    <h1>Has cerrado sesión correctamente</h1>
    <a th:href="@{/login}" class="btn btn-primary mt-3">Volver a iniciar sesión</a>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>